@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    font-family:"Montserrat", sans-serif;
    color: #336892 ;
    background-color: #d4e6ee ;
}

@font-face {
    font-family: "Blenny";
    src: url(../fonts/FontsFree-Net-Blenny-W01-Black.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Header */
header{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
#logo-nav-link{
    height: 4.43vh;
    text-decoration: none;
    margin-left: 1%;
}

#logo-nav-link h1{
    height: 100%;
    line-height: 230%;
    font-family: "Blenny", sans-serif;
    font-size: 3.125em;
}

#nav-menu{
    font-size: 1.7em;
    height: 4.43vh;
    list-style: none;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-menu > li{
    width: 3vw;
    margin-right: 5%;
}    

li a{
    text-decoration: none;
  } /* Horizontal Wave NOT WORKING AS NEED TO IMPORT HOVER CODE! */

.current-location{
    text-decoration: underline;
}

li a:hover{
    text-decoration: underline;
}

/* Hero & Description Section */

#logo-and-description{
    width: 100%;
    background-color: #fcd9df;
    overflow: hidden;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-image{
    width: 31.5%;
    margin-left: 10%;
}

#desc-text{
    width: 30.18%;
    background-color: #fcd9df;
    margin-right: 10%;
}

h2{
    font-family: "Blenny", sans-serif;
    font-size: 3.2em;
    color: #336892;
    background-color: inherit;
}

#desc-text p{
    background-color: inherit;
    font-size: 200%;
    font-weight: 550;
}

hr{
    border: 5px solid #d4e6ee;
}

/* menu link section */

#menu-link-section{
    width: 100%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-links{
    width: 33%;
}

#macaron-image{
    order: 0;
    display: flex;
    justify-content: center;

}

#right-image{
    order: 2;
    display: flex;
    justify-content: center;
}

.menu-link-image{
    max-height: 46.5vh;
    object-fit: cover;
    border: solid;
    border-radius: 46.5vh;
}

.menu-links > h2{
    text-align: center;
    font-size: 500%;
    }

#left-image{
    margin-left: 2%;
    display: flex;
    justify-content: center;
}

.hover-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46.5vh;
    width: 46.5vh;
    position: absolute;
    top:51vh;
    border: #336892 solid;
    border-radius: 600px;
    font-size: 500%;
    background-color: rgb(252, 217, 223, 0.5);
    font-family: "Blenny", sans-serif;
    opacity: 0;
}

.hover-text p{
    background-color:transparent;
    font-family: "Blenny", sans-serif;
    border-radius: inherit;
}

 


.hover-text:hover{
    opacity: 1;
}
    


/*Footer */
#footer-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5vh;
    width: 100%;
    list-style: none;
    background-color: #fcd9df;
}

.footer-link{
    background-color: #fcd9df;
}

#facebook{
    font-size: 350%;
    margin-left: 33%;
}

#instagram{
    margin-right: 33%;
    font-size: 350%;
}

.footer-link > a{
    background-color: #fcd9df;
}

i{
    background-color: #fcd9df ;
}

/* menu styles */
.left-container{
    width: 900px;
    height: 900px;
    float: left;
    border: 10px double;
    clear: both;
    display: inline-block;
    margin-left: 15%;
    background-color: #fcd9df;
    margin-bottom: 20px;

}

.right-container{
    width: 900px;
    height: 900px;
    float: right;
    border: 10px double;
    display: inline-block;
    margin-right: 15%;
    background-color: #fcd9df;
    margin-bottom: 20px;

}

.menu-heading{
    text-align: center;
    font-size:6em;
}

.menu-list{
    list-style: none;
    background-color: #fcd9df;
}

.menu-list > li {
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 10%;
    text-align: center;
    background-color: #fcd9df;
}

.menu-list-image{
    width: 100%;
    height: 100%;
}

/* Menu Footer */

#footer-list-menu{
    margin-top: 20px;
    height: 100px;
    width: 100%;
    list-style: none;
    background-color: #fcd9df;
    position: absolute;
}