@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    font-family:"Montserrat", sans-serif;
    color: #336892 ;
    background-color: #d4e6ee ;
}

@font-face {
    font-family: "Blenny";
    src: url(../fonts/FontsFree-Net-Blenny-W01-Black.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Header */
header{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
#logo-nav-link{
    height: 4.43vh;
    text-decoration: none;
    margin-left: 1%;
}

#logo-nav-link h1{
    height: 100%;
    line-height: 230%;
    font-family: "Blenny", sans-serif;
    font-size: 3.125em;
}

#nav-menu{
    font-size: 1.7em;
    height: 5vh;
    width: 23vh;
    list-style: none;
    margin-right: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-menu > li{
    width: auto;
    margin-right: 5%;
}    

li a{
    text-decoration: none;
  } /* Horizontal Wave NOT WORKING AS NEED TO IMPORT HOVER CODE! */

.current-location{
    text-decoration: underline;
}

li a:hover{
    text-decoration: underline;
}

/* Hero & Description Section */

#logo-and-description{
    width: 100%;
    background-color: #fcd9df;
    overflow: hidden;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-image{
    width: 31.5%;
    margin-left: 10%;
}

#desc-text{
    width: 30.18%;
    background-color: #fcd9df;
    margin-right: 10%;
}

h2{
    font-family: "Blenny", sans-serif;
    font-size: 3.2em;
    color: #336892;
    background-color: inherit;
}

#desc-text p{
    background-color: inherit;
    font-size: 200%;
    font-weight: 550;
}

hr{
    border: 5px solid #d4e6ee;
}

/* menu link section */

#menu-link-section{
    width: 100%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-links{
    width: 33%;
}

#macaron-image{
    order: 0;
    display: flex;
    justify-content: center;

}

#right-image{
    order: 2;
    display: flex;
    justify-content: center;
}

.menu-link-image{
    max-height: 46.5vh;
    object-fit: cover;
    border: solid;
    border-radius: 46.5vh;
}

.menu-links > h2{
    text-align: center;
    font-size: 500%;
    }

#left-image{
    margin-left: 2%;
    display: flex;
    justify-content: center;
}

.hover-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46.5vh;
    width: 46.5vh;
    position: absolute;
    top:51vh;
    border: #336892 solid;
    border-radius: 600px;
    font-size: 500%;
    background-color: rgb(252, 217, 223, 0.5);
    font-family: "Blenny", sans-serif;
    opacity: 0;
}

.hover-text p{
    background-color:transparent;
    font-family: "Blenny", sans-serif;
    border-radius: inherit;
}

 
.hover-text:hover{
    opacity: 1;
}

/* link to form page */
#form-link-section{
    display: flex;
    justify-content: center;
    padding-bottom: 0.6%;
}

#form-link-heading{
    text-align: center;
    font-size: 500%;
    border: 10px double;
}
#form-link-section > div{
    width: 40%;
}


/*Footer */
#footer-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5vh;
    width: 100%;
    list-style: none;
    background-color: #fcd9df;
}

.footer-link{
    background-color: #fcd9df;
}

#facebook{
    font-size: 350%;
    margin-left: 33%;
}

#instagram{
    margin-right: 33%;
    font-size: 350%;
}

.footer-link > a{
    background-color: #fcd9df;
}

i{
    background-color: #fcd9df ;
}

/* menu styles */
.menu-section{
    display: flex;
    justify-content: space-between;
}

.left-container{
    width: 46.5vh;
    height: 46.5vh;
    border: 10px double;
    margin-left: 15%;
    background-color: #fcd9df;
    margin-bottom: 20px;

}

.right-container{
    width: 46.5vh;
    height: 46.5vh;
    border: 10px double;
    margin-right: 15%;
    background-color: #fcd9df;
    margin-bottom: 20px;

}

.menu-heading{
    text-align: center;
    font-size:5.8em;
}

.menu-list{
    list-style: none;
    background-color: #fcd9df;
}

.menu-list > li {
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 10%;
    text-align: center;
    background-color: #fcd9df;
}

.menu-list-image{
    width: 100%;
    height: 100%;
}

/* Form Page */
#form-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#form-heading{
    text-align: center;
}

.form-text{
    font-size: 200%;
}

.input-text{
    background-color: whitesmoke;
    padding: 15px 10px;
    line-height: 140%;
    width: 40vh;
    margin-bottom: 0.5vh;
}

#submit{
    font-size: 200%;
    background-color: #fcd9df;
    border-radius: 20%;
    width: 12vh;
    height: 4vh;
    margin: 1vh 0;
    cursor: pointer;
}

input{
    font-size: 150%;
}

#order{
    padding: 15px 10px;
    line-height: 140%;
}

#description-input{
    background-color: whitesmoke;
    width: 40vh;
    height: 20vh;
    font-size: 150%;
}

#form-image-container{
    width: 40vh;
}

#form-image-container > img{
    width: 100%;
    height: auto;
}
